.Navigation{
  padding: 15px;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
}
.NewVoting{
  padding: 30px;
  font-size: large;
}
.VotingBox
{
  padding: 20px;
  margin: 10px 0;
  box-Shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-Radius: 10px;
  background-Color: white;
  display: flex;
  justify-Content: space-between;
  align-Items: center;
}

.HistoryHeader{
  margin-bottom: 20px;
}

.HistoryTitle{
  font-Size: 18px;
  font-Weight: bold;
  width: 33%;
}
.HistoryResult{
  font-Size: 16px;
  width: 33%;
}
.DetailResult{
  margin-bottom: 30px;
}
.DetailsCreation{
  width: 40%;
}
.DetailsParticipants{
  width: 60%;
}
.DetailsDetailsParticipants{
  border: 1px solid lightgrey;
  padding: 8px;
  margin: 8px 0;
  border-Radius: 4px 
}
.DetailParticipantName{
  width: 50%;
  margin-Left: 15px
}
.DetailParticipantVote{
  width: 50%;
  margin-Right: 15px
}
.VotingInputCreator{
  padding-bottom: 15px;
}
.margin{
  margin: 20px;
}


